<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JetBrains.Annotations" version="2018.2.1" targetFramework="net472" />
  <package id="ManagedEsent" version="1.9.4" targetFramework="net472" />
  <package id="Microsoft.Build" version="15.1.1012" targetFramework="net472" />
  <package id="Microsoft.Build.Framework" version="15.1.1012" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="2.6.1" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.Common" version="2.9.0" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="2.9.0" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.CSharp.Extensions" version="1.0.0" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.CSharp.Workspaces" version="2.9.0" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.Workspaces.Common" version="2.9.0" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.Workspaces.MSBuild" version="2.9.0" targetFramework="net472" />
  <package id="Microsoft.Composition" version="1.0.31" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.CoreUtility" version="15.6.27740" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.ImageCatalog" version="15.7.27703" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Imaging" version="15.7.27703" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Imaging.Interop.14.0.DesignTime" version="14.3.26930" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.OLE.Interop" version="7.10.6071" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.SDK.EmbedInteropTypes" version="15.0.21" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.15.0" version="15.7.27703" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Framework" version="15.7.27703" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Interop" version="7.10.6072" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Interop.10.0" version="10.0.30320" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Interop.11.0" version="11.0.61031" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Interop.12.0" version="12.0.30111" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Interop.14.0.DesignTime" version="14.3.26929" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Interop.15.3.DesignTime" version="15.0.26929" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Interop.15.6.DesignTime" version="15.6.27413" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Interop.8.0" version="8.0.50728" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Interop.9.0" version="9.0.30730" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Text.Data" version="15.6.27740" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.TextManager.Interop" version="7.10.6071" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.TextManager.Interop.8.0" version="8.0.50728" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Threading" version="15.8.132" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Threading.Analyzers" version="15.8.132" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Utilities" version="15.7.27703" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Validation" version="15.3.58" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net472" />
  <package id="Ookii.Dialogs" version="1.0" targetFramework="net472" />
  <package id="Scripty.MsBuild" version="0.7.4" targetFramework="net472" developmentDependency="true" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.11" targetFramework="net472" />
  <package id="SQLitePCLRaw.core" version="1.1.11" targetFramework="net472" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.linux" version="1.1.11" targetFramework="net472" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.osx" version="1.1.11" targetFramework="net472" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.v110_xp" version="1.1.11" targetFramework="net472" />
  <package id="SQLitePCLRaw.provider.e_sqlite3.net45" version="1.1.11" targetFramework="net472" />
  <package id="StreamJsonRpc" version="1.4.121" targetFramework="net472" />
  <package id="System.AppContext" version="4.3.0" targetFramework="net472" />
  <package id="System.Collections" version="4.3.0" targetFramework="net472" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net472" />
  <package id="System.Composition" version="1.2.0" targetFramework="net472" />
  <package id="System.Composition.AttributedModel" version="1.2.0" targetFramework="net472" />
  <package id="System.Composition.Convention" version="1.2.0" targetFramework="net472" />
  <package id="System.Composition.Hosting" version="1.2.0" targetFramework="net472" />
  <package id="System.Composition.Runtime" version="1.2.0" targetFramework="net472" />
  <package id="System.Composition.TypedParts" version="1.2.0" targetFramework="net472" />
  <package id="System.Console" version="4.3.1" targetFramework="net472" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net472" />
  <package id="System.Diagnostics.FileVersionInfo" version="4.3.0" targetFramework="net472" />
  <package id="System.Diagnostics.StackTrace" version="4.3.0" targetFramework="net472" />
  <package id="System.Diagnostics.Tools" version="4.3.0" targetFramework="net472" />
  <package id="System.Dynamic.Runtime" version="4.3.0" targetFramework="net472" />
  <package id="System.Globalization" version="4.3.0" targetFramework="net472" />
  <package id="System.IO" version="4.3.0" targetFramework="net472" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net472" />
  <package id="System.IO.Compression.ZipFile" version="4.3.0" targetFramework="net472" />
  <package id="System.IO.FileSystem" version="4.3.0" targetFramework="net472" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Linq" version="4.3.0" targetFramework="net472" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net472" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net472" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net472" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net472" />
  <package id="System.Reflection.Metadata" version="1.6.0" targetFramework="net472" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.1" targetFramework="net472" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net472" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net472" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="net472" />
  <package id="System.Text.Encoding.CodePages" version="4.5.0" targetFramework="net472" />
  <package id="System.Text.Encoding.Extensions" version="4.3.0" targetFramework="net472" />
  <package id="System.Threading" version="4.3.0" targetFramework="net472" />
  <package id="System.Threading.Tasks" version="4.3.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.1" targetFramework="net472" />
  <package id="System.Threading.Tasks.Parallel" version="4.3.0" targetFramework="net472" />
  <package id="System.Threading.Thread" version="4.3.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="System.Xml.ReaderWriter" version="4.3.1" targetFramework="net472" />
  <package id="System.Xml.XDocument" version="4.3.0" targetFramework="net472" />
  <package id="System.Xml.XmlDocument" version="4.3.0" targetFramework="net472" />
  <package id="System.Xml.XPath" version="4.3.0" targetFramework="net472" />
  <package id="System.Xml.XPath.XDocument" version="4.3.0" targetFramework="net472" />
</packages>