<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JetBrains.Annotations" version="2020.3.0" targetFramework="net461" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.0.0" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.CoreUtility" version="16.8.239" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.ImageCatalog" version="16.7.30328.74" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Imaging" version="15.7.27703" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Imaging.Interop.14.0.DesignTime" version="16.7.30328.74" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.OLE.Interop" version="7.10.6071" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.SDK.EmbedInteropTypes" version="15.0.21" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.15.0" version="15.7.27703" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Framework" version="15.7.27703" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Interop" version="7.10.6072" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Interop.10.0" version="10.0.30320" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Interop.11.0" version="11.0.61031" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Interop.12.0" version="12.0.30111" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Interop.14.0.DesignTime" version="14.3.26929" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Interop.15.3.DesignTime" version="15.0.26929" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Interop.15.6.DesignTime" version="15.6.27413" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Interop.8.0" version="8.0.50728" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Interop.9.0" version="9.0.30730" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Text.Data" version="15.6.27740" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.TextManager.Interop" version="7.10.6071" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.TextManager.Interop.8.0" version="8.0.50728" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Threading" version="16.7.56" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Threading.Analyzers" version="16.7.56" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Utilities" version="15.7.27703" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Validation" version="15.5.31" targetFramework="net461" />
  <package id="Microsoft.Win32.Registry" version="4.6.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="Scripty.MsBuild" version="0.7.4" targetFramework="net461" developmentDependency="true" />
  <package id="StreamJsonRpc" version="1.4.121" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net461" />
  <package id="System.ComponentModel.Composition" version="4.5.0" targetFramework="net461" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net461" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net461" />
  <package id="System.Security.AccessControl" version="4.6.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net461" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net461" />
  <package id="System.Security.Principal.Windows" version="4.6.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net461" />
</packages>